@{
    ViewBag.Title = "Contact";
}


<div class="container" style="margin-top:10rem">
    <div>
        <b> Altınbaş University, Mahmutbey Campus</b>
    </div>

        <div>
            <b>Phone:</b> +90 212 604 01 00   Fax: +90 212 445 81 71
        </div>

            <div>
                <b>Address:</b> Mahmutbey Dilmenler Caddesi,  No:26, 34217 Bağcılar - İSTANBUL
            </div>

                <div>
                    <b>E-mail: </b>info@altinbas.edu.tr
                </div>

                </div>

